* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f1f3f6;
}

header {
    background-color: #f1f3f6;
    padding: 10px 100px 10px 100px;
    color: #583bb6;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 0px 0px;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    color: #583bb6;
    text-decoration: none;
}

main {
    padding: 50px;
}

section {
    margin-bottom: 50px;
}

#background {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 20px;
}

#home {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.home-left {
    margin-right: 100px;
    padding: 20px 0px 0px 0px;
}

.home-right {
    background-color: #ededc5;
}

.home-left p {
    font-size: 50px;
    padding: 5px 0px 5px 5px;

}

.home-right p {
    font-size: 20px;

}


.home-tips li {
    padding: 5px 0px 5px 5px;
}